<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.parserlibrary" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".ImagePreviewActivity" android:theme="@style/MainTheme" />
        <activity android:name=".WebViewActivity" android:theme="@style/MainTheme" />
    </application>

</manifest>
